@import "./variables";
@import "./fontiran.css";
@import "./monarpe.css";

html {
  max-width: 425px !important;
  margin: 0 auto;
}

.splash_page {
  background-color: $splash_background_color;
}

.page {
  background-color: $page_background_color;
}

* {
  font-family: $font_family;
}

.main-title {
  color: $main_title_color;
  font-size: $title_font_size;
  font-weight: $title_font_weight;
  line-height: $title_line_height;
}

.search-input::placeholder {
  font-size: $search_input_placeholder_font_size;
  font-weight: $search_input_placeholder_font_weight;
  line-height: $search_input_placeholder_line_height;
}
.select-location {
  .en-title {
    //font-family: $en_font_family;
    font-size: $search_input_placeholder_font_size;
    font-weight: $search_input_placeholder_font_weight;
    line-height: $search_input_placeholder_line_height;
    color: $sub_title_color;
  }
  .city-name {
    font-size: $title_font_size;
    font-weight: $title_font_weight;
    line-height: $title_line_height;
    color: $main_title_color;
  }
}

.near-artist-view-box {
  background: linear-gradient(260.22deg, #B2550F -20.62%, rgba(255, 255, 255, 0) 95.26%);
}

.ltr-dir {
  direction: ltr !important;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}


.carousel__pagination-button::after {
  background-color: #A9A7A7;
}

.fancybox__container {
  z-index: 9999999999 !important;
}

.vpd-input-group {
  label {
    display: none !important;
  }
  input {
    height: 38px;
    outline: none;
    border: none !important;
    border-radius: 8px !important;
  }
}
.Toastify__toast-container {
  z-index: 9999999999 !important;
}

.main-desktop-slider {
  width: 100%;
  min-height: 70vh;
  & > div {
    height: 100%;
    min-height: 70vh;
    .main-desktop-slider-left-box {
      width: 100%;
      max-width: 75%;
      background: linear-gradient(89.61deg, #133C3E 55.75%, rgba(19, 60, 62, 0.85) 66.03%, rgba(19, 60, 62, 0.8) 75.96%, rgba(19, 60, 62, 0.31) 84.81%, rgba(19, 60, 62, 0) 99.7%);
    }
  }
}